:host {
  /deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: calc(100% - 59px);
  }

  a {
    color: #FFFFFF !important;
  }

  a.active {
    color: #c85a19 !important;
  }

  .badge {
    position: absolute;
    @media (min-width: 768px) {
      right: -10px;
    }

    top: 0px;
  }
}
