<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Equipe</th>
      <th scope="col">Points</th>
      <th scope="col">R.</th>
      <th scope="col">Matchs</th>
      <th scope="col">Sets</th>
      <th scope="col">Jeux</th>
      <th scope="col">Pénal.</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let ligne of classement">
      <tr [ngClass]="{'table-primary': ligne.idEquipe === idEquipe}">
        <th scope="row">
          {{ligne.place}}
        </th>
        <td><span (click)="detailEquipe(ligne.idEquipe)">{{ligne.nom}}</span></td>
        <td>{{ligne.points}}</td>
        <td>{{ligne.nbRencontres}}</td>
        <td>{{ligne.matchesAverage}}</td>
        <td>{{ligne.setsAverage}}</td>
        <td>{{ligne.jeuxAverage}}</td>
        <td>{{ligne.pointsDePenalites}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
