li.borderless { border: 0 none; }


.chart-container {
}

.chart-wrapper { display: flex; overflow: hidden; }

.pie-chart-parent { display: grid; }

.victoire{
  color: #327262;
}

.defaite{
  color: #d37a46;
}
