@import '../../assets/color.scss';

li.borderless { border: 0 none; }


.chart-container {
}

.chart-wrapper { display: flex; overflow: hidden; }

.pie-chart-parent { display: grid; }

.victoire{
  color: $primary;
}

.defaite{
  color: $secondary;
}

td {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

