<calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate"
  (viewChange)="filterByCourt(null)"
  locale="fr">
</calendar-header>
<div class="row text-center d-none d-md-block" style="margin-bottom: 10px; height: 38px">
  <div class="col-md-4 offset-4" [hidden]="view === 'day'">
          <select id="mySelect" data-show-content="true" class="form-control" data-style="btn-outline-primary" (change)="filterByCourt($event.target.value)">
            <option value="" data-content='<i class="far fa-eye"></i> Tous les courts</i>'></option>
            <option value="1" data-content='<i class="fas fa-circle" style="color: #00503c"> Court 1</i>'></option>
            <option value="2" data-content=' <i class="fas fa-circle" style="color: #c85a19"> Court 2</i>'></option>
          </select>
    </div>
</div>


<ng-template #loading>
  <div class="text-center" style="margin-top: 90px">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
           aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    Chargement du planning des reservations...
  </div>
</ng-template>


<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      locale="fr"
      (beforeViewRender)="beforeMonthViewRender($event)"
      (dayClicked)="viewDate = $event.day.date; view = 'day'">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      locale="fr"
      [dayStartHour]="8"
      [dayEndHour]="20"
      [hourSegments]="1"
      [hourSegmentHeight]="50"
      (dayHeaderClicked)="viewDate = $event.day.date; view = 'day'"
      (hourSegmentClicked)="hourSegmentClicked($event)"
      (eventClicked)="eventClicked($event)"
      (beforeViewRender)="beforeWeekViewRender($event)">
    </mwl-calendar-week-view>
    <app-day
      class="d-none d-md-block"
      *ngSwitchCase="'day'"
      [reservation]="events"
      [viewDate]="viewDate"
      (hourSegmentClicked)="hourSegmentClicked($event)"
      (deleteClicked)="deleteClicked($event)">
    </app-day>
    <mwl-calendar-day-view
      class="d-md-none d-block"
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      locale="fr"
      [events]="events"
      [dayStartHour]="8"
      [dayEndHour]="20"
      [hourSegments]="1"
      [hourSegmentHeight]="50"
      (hourSegmentClicked)="hourSegmentClicked($event)"
      (beforeViewRender)="beforeDayViewRender($event)">
    </mwl-calendar-day-view>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Réserver un court le {{getDateReservation()}} à
          {{getHeureReservation()}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reservationForm" novalidate [hidden]="processInfos() || zeroDispo()">
          <div class="form-group">
            <label for="joueur1">Joueur</label>
            <input type="text" class="form-control typeahead" id="joueur1" formControlName="joueur">
          </div>
          <div class="form-group">
            <label>Choix du court</label>
            <select class="form-control" id="exampleFormControlSelect1" (change)="onSelect($event)">
              <option></option>
              <option value="1" [selected]="isSelected('1')" [disabled]="isReserved('1')">Court n°1 <span
                *ngIf="isReserved('1')">réservé</span></option>
              <option value="2" [selected]="isSelected('2')" [disabled]="isReserved('2')">Court n°2 <span
                *ngIf="isReserved('2')">réservé</span></option>
            </select>
          </div>
        </form>

        <form [hidden]="!zeroDispo()">
          Plus de disponibilité pour le créneau choisi
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="saveReservation()" [disabled]="reservationForm.invalid">
          Réserver
        </button>
      </div>
    </div>
  </div>
</div>
